.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #f0f4f9; */
    background-color: #0b0b0b;
    padding: 25px 15px;
}
.sidebar img{
    width: 20px;
}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
    color: #cecbcb;
    background-color: #cecbcb;
    border-radius: 30%;
    width: 26px;
    height: 25px;
}
.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: rgb(44, 44, 44);
    cursor: pointer;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #cecbcb;
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #cecbcb;
    cursor: pointer;
}
.sidebar .recent-entry img{
    background-color: rgb(212, 207, 207);
    border-radius: 100%;
}
.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
    color: #0b0b0b;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width:600px) {
    .sidebar{
        display: none;
    }
}


